<link href= "/views/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost">
<h1>Change Pass</h1>
<form action="/changepassword" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="oldpassword" name="oldpassword" required>
  </div>
  <div>
    <label for="password"> New Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Change Password</button>
</form>
<a href="/login">Login</a>